body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Стилі для фонового зображення */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 500%; /* Ширина залежить від кількості секцій */
    height: 100vh;
    background-repeat: repeat-x;
    background-size: auto 100%;
    z-index: -1;
}
.top {
    background-color: #d3d3d3; /* світлосірий */
    height: 80%;
}
.bottom {
    background-color: #a9a9a9; /* темносірий */
    height: 20%;
}

/* Основний контейнер для горизонтального скролінгу */
.container {
    display: flex;
    height: 100vh;
    transition: transform 0.3s ease;
}

/* Стилі для кожної секції */
.section {
    flex: 0 0 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    /*padding: 2rem;*/
    box-sizing: border-box;
    overflow-y: auto;
    margin-bottom: 25%;
}

/* Контейнер для контенту секції */
.section-content {
    max-width: 900px;
    text-align: center;
    position: relative;
}

/* Стилі для заголовків */
.section h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
}

.section h2 {
    font-size: 1.8em;
    margin-bottom: 1rem;
}

/* Стилі для параграфів */
.section p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 1rem;
}

/* Стилі для зображень */
.section img {
    height: auto;
}
.logo {
    max-width: 30%;
    position: absolute;
    top:20px;
    left:30px;
}
.person {
    max-width: 440px;
    cursor: pointer;
}
.door {
    max-width: 250px;
}
.flower {
    max-width: 200px;
}
.image-container {
    position: relative;
    max-height: fit-content;
    Float:left;
    margin-bottom: -150px;
}
.bubble {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color:#000000;
}
.bubble::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent;
}
.image-container:hover .bubble {
    display: block;
}
